ion-app {
  background-color: #ffffff !important;
}

ion-content {
  --background: #ffffff;
  padding-top: 50px; 
}

ion-header {
  ion-toolbar {
    --background: #ffffff;
    text-align: center;
    color: black;
    font-weight: bold;
  }
}

ion-card {
  background-color: #ffffff; /* Set darker card background color */
  --ion-border-color: #dddddd; /* Set card border color */
  --ion-box-shadow-color: #000000; /* Set card box shadow color */
  --ion-color-base: #333333; /* Set card text color */
}


.welcome-title {
  .center-align {
    text-align: center;
  }
  
  .title-text {
    font-size: 24px;
    margin: 0;
    color: black;
    font-weight: bolder;
  }

  .logo-img {
    max-width: 250px;
    margin-top: 10px;
  }
}

.center-align {
  text-align: center;
}
.chart-container {
  margin-top: 20px;
}
.overview-card {
  display: flex;
  padding: 20px;
  margin-top: 20px;
  background-color: #E08D5E; 
  color: white; 
  align-items: center;
  justify-content: space-between; 
}
.overview-card img {
  width: 100px; 
  height: auto;
  margin-right: 20px; 
}
.overview-title {
  font-size: 18px;
  font-weight: bold;
}
.overview-button {
  margin-left: auto;
}

.view-details-button {
    background-color: white;
    color: black;
  }