ion-tab-bar[slot="bottom"] {
    --background: #555555;
  }

$base-color: #FFDCB4;

$dark-shade: darken($base-color, 35%);

ion-tab-button ion-icon,
ion-tab-button ion-label {
  color: $base-color;
}

ion-tab-button:hover ion-icon,
ion-tab-button:hover ion-label {
  color: $dark-shade;
}

ion-tab-button:focus ion-icon,
ion-tab-button:focus ion-label {
  color: $dark-shade;
}

ion-app {
    background-color: #ffffff !important;
  }
