<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BUDGETING TIPS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="tip-card">
    <div class="card-content">
      <div class="card-image">
        <img src="assets/tip1.png" alt="Tip 1 Image">
      </div>
      <div>
        <ion-card-header>
          <ion-card-title class="title">Keeping Track Of Your Expenses</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="description">Keeping track of your expenses helps you understand where your money is going and identify areas where you can cut back.</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <ion-card class="tip-card">
    <div class="card-content">
      <div class="card-image right">
        <img src="assets/tip2.png" alt="Tip 2 Image">
      </div>
      <div>
        <ion-card-header>
          <ion-card-title class="title">How To Try To Create a Budget</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="description">Set financial goals and create a budget that allocates your income towards savings, essential expenses, and impulse buying.</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <ion-card class="tip-card">
    <div class="card-content">
      <div class="card-image">
        <img src="assets/tip3.png" alt="Tip 3 Image">
      </div>
      <div>
        <ion-card-header>
          <ion-card-title class="title">Try To Avoid Impulse Buying</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="description">Think twice before making unplanned purchases. Avoid impulse buying by sticking to your budget and prioritizing your needs over wants.</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>
</ion-content>
