
ion-app {
    background-color: #ffffff !important;
  }
  
  ion-content {
    --background: #ffffff;
  }
  
  ion-header {
    ion-toolbar {
        --background: #5555555;
      text-align: center;
      color: black;
    }
  }