<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Spending Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-align chart-container">
    <img src="assets\chart.png" alt="Chart" class="chart-img"> <!-- Your chart image -->
  </div>

  <ion-card class="overview-card">
    <ion-card-content>
      <ion-card-title class="overview-title">Spending Overview</ion-card-title>
    </ion-card-content>
    <!-- Randomized spending overview details -->
    <ion-list>
      <!-- Random spending items -->
      <ion-item>
        <ion-label>Food</ion-label>
        <ion-label slot="end">$120</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Transportation</ion-label>
        <ion-label slot="end">$80</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Entertainment</ion-label>
        <ion-label slot="end">$150</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Utilities</ion-label>
        <ion-label slot="end">$200</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Shopping</ion-label>
        <ion-label slot="end">$250</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
