<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HOW TO AVOID IMPULSE BUYING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IMPULSE BUYING</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tips to Avoid Impulse Buying</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>1. Make a Shopping List: Before going shopping, make a list of items you need and stick to it to avoid buying unnecessary items on impulse.</li> <br>
        <li>2. Set a Budget: Determine a budget for your shopping trip and avoid deviating from it by only purchasing items within your budget.</li> <br>
        <li>3. Wait Before Buying: When you feel the urge to buy something on impulse, wait for at least 24 hours before making the purchase. This will give you time to reconsider if it's a necessity or just a whim.</li> <br>
        <li>4. Avoid Shopping When Emotional: Avoid shopping when you're feeling stressed, sad, or bored, as emotions can lead to impulsive decisions.</li> <br>
        <li>5. Use Cash Instead of Cards: Use cash for your purchases instead of credit or debit cards to make you more aware of your spending and less likely to make impulse purchases.</li> <br>
        <li>6. Avoid Sales and Discounts Temptation: Don't fall for sales or discounts unless the item is something you planned to buy beforehand. Sales and discounts often lead to impulse purchases of unnecessary items.</li>   
        <li>7. Consider the True Cost: Before making a purchase, consider the true cost of the item, including maintenance, storage, and potential resale value.</li> <br>
        <li>8. Focus on Needs, Not Wants: Differentiate between needs and wants, and prioritize spending on essential items rather than indulging in impulse purchases of non-essential items.</li> <br>
        <li>9. Find Alternatives to Shopping: Instead of shopping for leisure or entertainment, find alternative activities like exercising, reading, or spending time with friends and family.</li> <br>
        <li>10. Reflect on Past Impulse Buys: Reflect on past impulse purchases and their impact on your finances to motivate yourself to avoid similar mistakes in the future.</li> 
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
