<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>KEEPING TRACK OF YOUR EXPENSES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EXPENSES</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tips for Better Expense Tracking</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>1. Set a Budget: Determine how much you want to spend in each category.</li> <br>
        <li>2. Use Categories: Allocate your expenses into categories like groceries, utilities, entertainment, etc.</li> <br>
        <li>3. Track Daily: Make it a habit to record your expenses daily to avoid missing any.</li> <br>
        <li>4. Save Receipts: Keep all receipts and records of your transactions for accurate tracking.</li> <br>
        <li>5. Review Regularly: Analyze your spending habits periodically to identify areas for improvement.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Additional Tips</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>6. Use Expense Tracking Apps: Consider using apps or software designed for expense tracking for convenience.</li> <br>
        <li>7. Set Goals: Define financial goals and monitor your progress towards achieving them.</li> <br> 
        <li>8. Be Consistent: Stick to your expense tracking routine to get accurate insights into your spending habits.</li> <br>
        <li>9. Plan for Emergencies: Allocate a portion of your budget for unexpected expenses or emergencies.</li> <br>
        <li>10. Seek Advice: Don't hesitate to seek advice from financial advisors or experts for better money management.</li> 
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
